<div class="board">
    <span class="game-id">{{gameId}}</span>
    <div class="data_board">
        <span class="data_board-time">Tiempo restante: {{time}}</span>
        <button class="button_style-ok" (click)="initGame()">iniciar juego</button>
    </div>
    <div class="board_body">
        <div class="my_background"></div>
        <button class="board_body-btn-cartas" (click)="showCards()">Mis cartas</button>
        <div class="row1">

            <div class="player"></div>
            <div class="player"></div>
        </div>
        <div class="row2">
            <div class="player"></div>
            <div class="player"></div>
            <div class="player"></div>
        </div>
    </div>
</div>

<div class="player_cards" *ngIf="showMyCards == true">
    <div class="card" *ngFor="let card of cardUser">
        <img class="card_img" loading="lazy" src="{{card.url}}" alt="{{card.nombre}} img">
        <div class="card_data">
            <span class="card_name" title="Nombre">{{card.nombre}}</span>
            <span class="card_poder" title="Poder/Fuerza">{{card.poder}} Poder</span>
        </div>
    </div>
</div>