<navbar></navbar>
<div class="container">
    <div class="background"></div>
    <div class="container_views">
        <span class="title">Jugadores disponibles</span>

        <form [formGroup]="formPlayers">

            <select multiple formControlName="jugadores">

                <option *ngFor="let jugador of jugadores" [value]="jugador.id">
                    <img src="{{jugador.photo}}" alt="Error photo user {{jugador.name_real}}">
                    <span class="name">{{jugador.name_real}}</span>
                </option>

            </select>
            
            <span class="info">Manten presionado [Ctrl] para seleccionar varios jugadores</span>
            <button type="submit" [disabled]="formPlayers.invalid" (click)="goToCreateGame()">Iniciar juego</button>
        </form>
    </div>
</div>