$background: #111111;

.player {
    display: flex;
    justify-content: center;
}

.player_cards {

    width: max-content;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $background;
    box-shadow: 1px 1px 6px $background;
    padding: 15px;
    border-radius: 6px 6px 0px 0px;

    position: absolute;
    bottom: 0px;
}