/* You can add global styles to this file, and also import other style files */

// font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// font-family: 'Kanit', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

$color-primary: #eb5449;
$background-body: #191919;
$background-navbar: #111111;

body {
    font-family: 'Poppins', sans-serif;
    background: $background-body;
    color: white;
    padding: 0px;
    margin: 0px;
}

button {
    cursor: pointer;
}

.font_kanit {
    font-family: 'Kanit', sans-serif;
}

.title {
    display: block;
    background: white;
    position: sticky;
    top: 0px;
    padding: 10px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'Kanit', sans-serif;
}

.my_background {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    background-size: cover;
}

.info {
    text-align: center;
    display: block;
    font-size: 0.8rem;
    color: gray;
    margin: 10px;
}

.button_style-ok {
    background: $color-primary;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 4px $color-primary;
    font-family: 'Kanit', sans-serif;
}

.b {
    font-weight: bold;
}