@import "../../../../styles.scss";

button {
    background: $color-primary;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 4px $color-primary;
    font-family: 'Kanit', sans-serif;
}