@import "../../../../styles.scss";

.body_login {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;

    .my_background {
        background-image: url("../../../../assets/images/background.jpg");
    }

    .content {
        cursor: pointer;
        max-width: 250px;
        text-align: center;
        background: white;
        color: black;
        border-radius: 10px;
        box-shadow: 1px 1px 6px white;
        padding: 16px;

        p {
            font-size: 1.8rem;
            font-family: 'Kanit', sans-serif;
        }

        .politicas {
            color: gray;
            margin-top: 14px;
            display: block;
            font-size: 0.8rem;
        }
    }
}
