@import "../../../../styles.scss";

.body_login {

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;

    .background {
        z-index: -1;
        width: 100vmax;
        height: 100%;
        background-image: url("../../../../assets/images/background.jpg");
        opacity: 0.2;
    }

    .content {
        cursor: pointer;
        max-width: 250px;
        text-align: center;
        background: white;
        color: black;
        border-radius: 20px;
        box-shadow: 1px 1px 6px white;
        padding: 16px;
        position: absolute;

        p {
            font-size: 1.8rem;
            font-family: 'Kanit', sans-serif;
        }

        .politicas {
            color: gray;
            margin-top: 14px;
            display: block;
            font-size: 0.8rem;
        }
    }
}

button {
    background: $color-primary;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    text-transform: uppercase;
    color: white;
    box-shadow: 1px 1px 4px $color-primary;
    font-family: 'Kanit', sans-serif;
}